<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/admin.css" media="all" />
	<title>admin_index</title>
</head>
<body>
		<!-- 头部 s-->
		<div class="header clearfix">
			<h1 class="fl"><a href="#">Control Panel</a></h1>
			<div class="user_option fr">
				<span>下午好，<em><a href="#">Administrator</a></em></span>
				<span class="more">a</span>
				<span class="talking"></span>
				<span class="setting"></span>
			</div>
		</div>
		<!-- 头部 e-->
		<div class="main clearfix">
			<!-- 侧栏 -->
			<div class="sidebar fl">
				<h2 class="common_tit">控制板<i></i> </h2>
				<ul class="common_ul">
					<li><a href="">统计信息</a></li>
					<li class="current"><a href="">设置中心</a></li>
					<li><a href="">系统分析</a></li>
				</ul>
				<h2 class="common_tit">设置<i></i> </h2>
				<ul class="common_ul">
					<li><a href="">常规</a></li>
					<li class="current"><a href="">工具设置</a></li>
					<li><a href="">可用工具</a></li>
				</ul>
				<h2 class="common_tit s_bg">文章管理</h2>
				<h2 class="common_tit s_bg">评论</h2>
				<h2 class="common_tit">插件应用<i></i> </h2>
				<ul class="common_ul last">
					<li><a href="">安装插件</a></li>
					<li><a href="">编辑</a></li>
					<li><a href="">应用配置</a></li>
				</ul>
			</div>
			<!-- 主内容 -->
			<div class="content">
				<!-- 内容标题 -->
				<div class="content_tit clearfix">
					<h1 class="name fl">设置中心</h1>
					<div class="fr option">
						<a href="">统计信息</a>
						<a href="" class="sign">设置中心</a>
						<a href="">系统分析</a>
					</div>
				</div>
				<!-- 内容中心 part1 -->
				<div class="content_model_wrap part1">
					<div class="tit clearfix">
						<h2 class="fl">概况</h2>
						<span class="fr mouse"><i></i></span>
					</div>
					<div class="cont">
						asd
					</div>
				</div>
				<div class="part2 mt15 clearfix">
					<div class="content_model_wrap fl" style="width:49.2%">
						<div class="tit clearfix">
							<h2 class="fl">统计信息</h2>
							<span class="fr mouse"><i></i></span>
						</div>
						<div class="cont">
							asd
						</div>
					</div>
					<div class="content_model_wrap fr" style="width:49.2%">
						<div class="tit clearfix">
							<h2 class="fl">统计信息</h2>
							<span class="fr mouse"><i></i></span>
						</div>
						<div class="cont">
						asd
						</div>
					</div>
				</div>
				<div class="content_model_wrap mt15">
						<div class="tit clearfix">
							<h2 class="fl">应用配置</h2>
							<span class="fr mouse"><i></i></span>
						</div>
						<div class="cont">
							asd
						</div>
				</div>
				<!-- footer -->
				<div class="clearfix footer">
					<strong class="fl">Control Panel V1.5.1</strong>
					<strong class="fr mob">Mobile</strong>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/lib/sea.js" data-main="./js/init.js"></script>
</body>
</html>