<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/admin.css" media="all" />
	<title>admin_index</title>
</head>
<body>
		<!-- 头部 s-->
		<div class="header clearfix">
			<h1 class="fl"><a href="#">Control Panel</a></h1>
			<div class="user_option fr">
				<span>下午好，<em><a href="#">Administrator</a></em></span>
				<span class="more">a</span>
				<span class="talking"></span>
				<span class="setting"></span>
			</div>
		</div>
		<!-- 头部 e-->
		<div class="main clearfix">
			<!-- 侧栏 -->
			<div class="sidebar fl">
				<h2 class="common_tit">控制板<i></i> </h2>
				<ul class="common_ul">
					<li><a href="">统计信息</a></li>
					<li class="current"><a href="">设置中心</a></li>
					<li><a href="">系统分析</a></li>
				</ul>
				<h2 class="common_tit">设置<i></i> </h2>
				<ul class="common_ul">
					<li><a href="">常规</a></li>
					<li class="current"><a href="">工具设置</a></li>
					<li><a href="">可用工具</a></li>
				</ul>
				<h2 class="common_tit s_bg">文章管理</h2>
				<h2 class="common_tit s_bg">评论</h2>
				<h2 class="common_tit">插件应用<i></i> </h2>
				<ul class="common_ul last">
					<li><a href="">安装插件</a></li>
					<li><a href="">编辑</a></li>
					<li><a href="">应用配置</a></li>
				</ul>
			</div>
			<!-- 主内容 -->
			<div class="content edit_article">
				<!-- 内容标题 -->
				<div class="content_tit clearfix">
					<h1 class="name fl">编辑文章</h1>
					<!-- <div class="fr option">
						<a href="">统计信息</a>
						<a href="" class="sign">设置中心</a>
						<a href="">系统分析</a>
					</div> -->
				</div>
				<!-- 内容中心 -->
				<div class="content_base clearfix">
					<div class="base_l fl">
						<p>
							<label for="title">标题&nbsp;&nbsp;<input type="text" id="title" class="ipt_style" /></label>
						</p>
						<p class="mt12">
							<label for="link">链接&nbsp;&nbsp;<input type="text" id="link" class="ipt_style" /></label>
						</p>
					</div>
					<div class="base_r fl mt12">
						<input type="button" value="预览" class="preview" />
						<input type="button" value="发布" class="book ml10"/>
					</div>
				</div>
				<!-- 上传文件 -->
				<div class="content_upload clearfix">
					<div class="up_name fl">上传文件</div>
					<div class="up_file fl">本地浏览 <input type="file" name="" id="file" /> </div>
					<div class="up_address fl">在线地址</div>
					<a href="" class="fr rubbish">移至回收站</a>
				</div>
				<!-- textarea -->
				<div class="content_textarea">
					这里是textarea地区
				</div>
				<div class="content_model_wrap part1 mt16">
					<div class="tit clearfix">
						<h2 class="fl">摘要</h2>
					</div>
					<div class="cont">
						谷歌位于美国加利福尼亚州山景城的总部不久将会斥资1.2亿美元，新建一个12万平方英尺的“体验中心”。该中心将可同时充当私人博物馆和会议室。它还拥有很多实验室，可以测试某些秘密项目，例如谷歌传闻中的家庭娱乐设备
					</div>
				</div>

				<div class="content_kinds mt16 clearfix">
					<div class="k_l fl">
						<!-- 时间 -->
						<div class="content_model_wrap">
							<div class="tit clearfix">
							<h2 class="fl">时间</h2>
							</div>
							<div class="cont">
								<p class="c_k_time">发布时间：2012年02月14日 22:14 &radic;</p>
								<p class="c_k_date mt10">
									<input type="text" name="" id="" class="bd_style year"  /> 年 <select name="" id="" class="bd_style">
										<option value="">2月</option>
									</select> 月 <input type="text" name="" id="" class="bd_style day" /> 日 <input type="text" name="" id="" class="bd_style hour" /> ： <input type="text" name="" id="" class="minute bd_style" /> <input type="button" value="确定" class="btn_style " />
								</p>
							</div>
						</div>
						<!-- 分类 -->
						<div class="content_model_wrap mt16">
							<div class="tit clearfix">
							<h2 class="fl">分类</h2>
							</div>
							<div class="cont">
								<div class="c_k_checkboxs">
									<input type="checkbox" name="" id="" />
									<label for="">特别策划</label>
									<input type="checkbox" name="" id="" />
									<label for="">焦点行业</label>
									<input type="checkbox" name="" id="" />
									<label for="">反潮流</label>
									<input type="checkbox" name="" id="" />
									<label for="">先锋</label>
									<input type="checkbox" name="" id="" />
									<label for="">资本动向</label>
									<input type="checkbox" name="" id="" />
									<label for="">CSR竞争力</label>
									<input type="checkbox" name="" id="" />
									<label for="">创业潮流</label>
									<input type="checkbox" name="" id="" />
									<label for="">关键时刻</label>
									<input type="checkbox" name="" id="" />
									<label for="">企业变革</label>
									<input type="checkbox" name="" id="" />
									<label for="">新视野</label>
									<input type="checkbox" name="" id="" />
									<label for="">基本面</label>
								</div>
							</div>
						</div>
						<!-- 作者 -->
						<div class="content_model_wrap mt16">
							<div class="tit clearfix">
							<h2 class="fl">作者</h2>
							</div>
							<div class="cont">
								<p>
									<select name="" id="" class="select_style">
										<option value=""></option>
									</select>
									<input type="button" value="确定" class="btn_style" />
								</p>
								<p class="select_col mt5">从列表中选择</p>
								<div class="actor_list mt15">
									<span>任宝永</span>
									<span>任宝永</span>
									<span>任宝永</span>
								</div>
							</div>
						</div>
					</div>
					<div class="k_r fr">
						<!-- 选项 -->
						<div class="content_model_wrap">
							<div class="tit clearfix">
							<h2 class="fl">选项</h2>
							</div>
							<div class="cont">
								<p>
									<label for="">频道</label>&nbsp;&nbsp;<select name="" id="" class="select_style"> <option value="">商业频道</option>
									</select>
									<label for="" class="ml66">状态</label>&nbsp;&nbsp;<select name="" id="" class="select_style"> <option value="">已发布</option>
									</select>
								</p>
								<div class="c_k_checkboxs">
									<input type="checkbox" name="" id="" />
									<label for="">文章置顶</label>
									<input type="checkbox" name="" id="" />
									<label for="">允许评论</label>
									<input type="checkbox" name="" id="" />
									<label for="" style="width:auto">这个页面接受<a href="" class="head_logo">trackback和pingback</a></label>
								</div>
							</div>
						</div>
						<!-- 标签 -->
						<div class="content_model_wrap mt16">
							<div class="tit clearfix">
							<h2 class="fl">标签</h2>
							</div>
							<div class="cont">
								<p class="c_k_tag">
									<input type="text" name="" id=""  class="bd_style"/>
									<input type="button" class="btn_style" value="添加" />
								</p>
								<p class="select_col mt5">多个标签请用英文逗号（,）分开</p>
								<div class="actor_list mt15">
									<span>互联网</span>
									<span>团购</span>
									<span>大众点评</span>
								</div>
								<a href="" class="headLogoBottom mt10 db">从常用标签中选择</a>
							</div>
						</div>

					</div>
				</div>
				<!-- footer -->
				<div class="clearfix footer">
					<strong class="fl">Control Panel V1.5.1</strong>
					<strong class="fr mob">Mobile</strong>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/lib/sea.js" data-main="./js/init.js"></script>
</body>
</html>